.button {
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.primary {
  background: linear-gradient(90deg, #1ed5a9 0%, #01b4e4 100%);
  background-size: 200% auto;
  color: white;
  transition: background-position 0.4s ease;
}

.primary:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  background: gray;
}

.primary:hover:not(:disabled) {
  background-position: right center;
}

.primary:hover {
  background-position: right center
}


.secondary {
  background: gray;
  color: white;
}

.secondary:hover {
    background: rgb(95, 95, 95)
}

.outlined {
  background: inherit;
  border: 1px solid #01b4e4;
}

.danger {
  background: red;
  color: white;
}

.small {
  padding: 4px 8px;
  font-size: 12px;
}

.medium {
  padding: 8px 16px;
  font-size: 14px;
}

.large {
  padding: 12px 24px;
  font-size: 16px;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}